/*div#images {
  padding: 25em  ;

    background-image: url(asset/UP-Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}*/

img#punch {
    position: absolute;
    top: 65%;
    left: 35%;
 
}
img#mainc {
    position: absolute;
    top: 65%;
    left: 35%;
 
}
img#right {
    position: absolute;
    top: 65%;
    left: 35%;
 
}

img#enemy, img#enemy2 {
    position: absolute;
    top: 65%;
 left: 65%;
 opacity: 0;
 animation: opacity 4s normal forwards infinite;
 animation-delay: 1s;
 
    }
    @keyframes opacity {
        0% {
            opacity: 1;
        }
        50% {
            opacity:0;
        }
        100% {
            opacity: 1;
        }
    }
div.controls{
    text-align: center;

  
 
    
}


button {
    border-color: whitesmoke;
   background-color:  #E94B3CFF;
    color:#393b44;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-style: solid;
}

span#punch {

    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
/*Center
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
*/
